{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "stateless.fullname" . }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: "{{ .Values.service.prefix }}(/|$)(.*)"
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ template "stateless.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}